# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pdb
*.egg
*.egg-info/
dist/
build/
.eggs/
.env
.venv
env/
venv/
ENV/
*.sqlite3
*.log

# Jupyter Notebook
.ipynb_checkpoints

# VSCode
.vscode/

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
yarn.lock

# OS
.DS_Store
Thumbs.db

# Others
*.swp
*.swo
.idea/
*.bak
*.tmp